@import url('https://fonts.googleapis.com/css?family=Allan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #d9c6a6 !important;
}

.navbar{
    border: 0;
    border-radius: 0;

}

.nav-style {
    background-color: #7D7463;
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

ul.navbar-nav li a {
    border-left: 3px solid #C4C4C4;
    padding-top: 50px;
    padding-bottom: 26px;
    text-decoration: none;
    
}

ul.navbar-nav li a:hover {
    border-left: 3px solid #C4C4C4;
    padding-top: 50px;
    padding-bottom: 26px;
    background-color: #595243;
    color: white !important;
}

.link {
    color: #ffffff !important;
    text-decoration: none;
}

.link:hover {
    color: #FD8127 !important;
    text-decoration: none;
}

.carousel {
    width: 800px;
    height: 533px;
    margin: 0 auto;
}

.carousel-item {
    height: 533px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.slide-indicator {
    list-style-type: none;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.list {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

